.active-underline {
  position: relative;
  padding: 5px;
}

.active-underline:after {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  background-color: #ffffff;
  transition: 0.5s;
  border-radius: 20px;
}
.active-underline:after {
  left: 0;
  top: 40px;
}

/* .underline:hover:after {
  width: 100%;
} */
