@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
.footer-font {
  line-height: 1.5;
  font-family: "Poppins", sans-serif !important;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.news-latter {
  background-color: #001136f8;
  padding-top: 80px;
  padding-bottom: 80px;
}


.footer-color {
  background-color: #001136f8;
}

.custom-padding {
  padding-left: 32px;
}

.company::before {
  content: "";
  position: absolute;
  left: 32px;
  bottom: -12px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 75px;
}
.Get::before {
  content: "";
  position: absolute;
  left: 32px;
  bottom: -12px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 75px;
}
.online::before {
  content: "";
  position: absolute;
  left: 32px;
  bottom: -12px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 75px;
}
.follow::before {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -12px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 70px;
}

.footer-container {
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer {
  background-color: #111827;
  padding: 70px 0;
}

.footer-col h4 {
  font-size: 18px;
  color: #030303;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #003cbe;
  padding-left: 5px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: #585858;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #fafafa;
  background-color: #003cbe;
}


/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
