.custom-number-text {
  font-family: Montserrat, Arial;
  font-size: 43px;
  line-height: 60px;
  font-weight: 700;
}
.custom-counter-text {
  font-family: Montserrat, Arial;
  font-size: 28px;
  line-height: 40px;
  font-weight: 400;
}
